---
layout: default
single: true
---
{% assign page_url_without_index_html = page.url | remove: "/index.html" %}
{% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
{% assign forLoopMaxInt = splitted_url_parts.size | minus: 1 %}
<ol class="breadcrumb">
{% for i in (1..forLoopMaxInt) %}
    {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}/index.html{% endcapture %}
    {% capture current_breadcrumb_md_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
    {% for breadcrumb_page in site.pages %}
        {% if current_breadcrumb_url == breadcrumb_page.url or current_breadcrumb_md_url == breadcrumb_page.url  %}
            <li {% if i == forLoopMaxInt %}class="active"{% endif %}>
                {% assign breadcrumb_page_page_url_without_index_html = breadcrumb_page.url | remove: "index.html" %}
                <a href="{{ site.baseurl }}{{breadcrumb_page_page_url_without_index_html}}">{{breadcrumb_page.title}}</a>            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</ol>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<div style="float: right;">
		<a class="btn btn-primary" href="{{ site.github_repo_url }}edit/master/{{ page.path }}">Improve this doc</a>
	</div>
	<h1 class="title" itemprop="name">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>

	<div class="entry-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>
